<div class="title mat-elevation-z10">
  <!-- 
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>format_align_justify</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>Objetivo</button>
    <button mat-menu-item>Sobre o Dev</button>
  </mat-menu>
-->
  <span>
    <img src="assets/img/usuario-default.png" alt="" />
  </span>

  <h2>CADASTRO DE USUÁRIO</h2>
</div>
<!-- Input Nome com ngForm ngSubmit e ngModel-->

<form #f="ngForm" class="forms">
  <h1>Nome</h1>
  <mat-form-field class="form">
    <mat-label for="name">Nome</mat-label>
    <input [(ngModel)]="userRegistration.name" matInput placeholder="Nome" name="name" id="nome" ngModel />
  </mat-form-field>

  <!-- Input Email-->
  <h1>E-mail</h1>
  <mat-form-field class="form">
    <mat-label>E-mail</mat-label>
    <input [(ngModel)]="userRegistration.email" matInput placeholder="pat@example.com" name="email" required />
    <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
  </mat-form-field>

  <!-- Input password-->


  <h1>Senha</h1>
  <mat-form-field id="password-field" appearance="fill" hintLabel="Max 10 caracteres">
    <mat-label>Senha</mat-label>

    <input [(ngModel)]="userRegistration.password" matInput #input maxlength="10" [type]="hide ? 'password' : 'text'" />
    <mat-hint class="first-hint" align="end">{{input.value.length}}/10</mat-hint>


    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>

  <div class="buttons">

    <button (click)="saveUser()" mat-stroked-button color="warn" id="confirmButton">Cadastrar</button>

  </div>
</form>

